.header {
  position: absolute;
  z-index: 2;
  top: 0;
  min-height: 6.5rem;
  background-color: #212121;
  min-width: 100vw;
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  align-items: center;
}

.header :last-child {
  margin-right: 3.25rem;
}

@media (max-width: 700px) {
  .header {
    display: none;
  }
}

@media (max-width: 1320px) {
  .contact p {
    display: none;
  }
}
