@import '../global.module.scss';

.logoContainer {
    display: grid;
    place-items: center;
    grid-template-columns: 33% 33% 33%;
    
    img {
        margin: 5rem;
        max-height: 20rem;
        max-width: 20rem;
        transition: all .2s;

        &:hover {
            transform: scale(1.05);
        }
        
    }

    @media (max-width: 900px) {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}