@import '../../global.module.scss';

.button {
    font-size: clamp(1.6rem, 2vw, 3rem);
    color: white;
    padding: 1rem;
    background-color: $red;
    border: 0.2rem solid $red-purple;
    transition: all .2s;

    &:hover {
        box-shadow: 1rem 1rem 2rem rgba(0,0,0, 0.2);
        transform: translateY(2px);
    }

    &:active {
        transform: translateY(0);
    }
}
