@import '../../global.module.scss';

.spinner {
  border: 16px solid white; 
  border-top: 16px solid $red; 
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  margin: 1rem auto;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}